<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <meta name="format-detection" content="telephone=no" />
    <title>Registration Contact</title>
</head>

<body>
    {{contact.name}}
    <br /> {{contact.email}}
    <br />
    <br />
    <br /> Nujokko Team
</body>

</html>