<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0;">
    <meta name="format-detection" content="telephone=no" />
    <title>Welcome</title>
</head>

<body>
   <!--  Hi there! -->
   Dear {{{tag}}}
   <br />Thank you for joining Nujokko and creating your unique user ID, we're delighted to welcome you to the team!
   <br />There is just one more thing we need to ask you to do: 
   <br />please click <a href="{{{emailVerificationLink}}}">HERE</a> with in next 48 hours to confirm your email address and officially register your ID in our database.
   <br />
   <br />Thanks Again!
   <br />
   <br />Team Nujokko
    <!-- <br /> We got a request to create a new Nujokko account.
    <br /> -->
    <!-- <a href="{{{emailVerificationLink}}}">Click Here</a> within 2 hours to confirm your email ID and reserve you tag. -->
    <!-- <br /> If you have not created the account with this email ID or should you need any further assistance, raise a query at nujokko.com/care
    <br />
    <br /> Nujokko Team -->
</body>

</html>